.images {
    float:left;
    overflow:hidden;
    position:relative;
    width:261px;
    margin-bottom: 25px;
    float:left;
    height:200px;
    width: 360px;
}

.info{
    overflow: hidden;
}

.highlight{
    background-color: yellow; 
}

.link{
    text-decoration: none;
}